body{
  /* background-image: radial-gradient(50% 123%, rgba(238,238,238,0.00) 53%, #D6D1C4 100%); */
  background-color: #D6D1C4;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #2A3E50;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0;
}


h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #E94636;
  font-size: 22px;
}

h2{
  font-size: 26px;
  font-weight: 800;
  font-variant-caps: all-petite-caps;
}

#header h2 {
  font-weight: 300;
  font-size: 2em;
}

h3{
  font-size: 18px;
  font-weight: 800;
  text-align: left;
}

p{
  text-align: left;
}

a{
  color: #2CC36B;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: #E87979;
  text-decoration: none;
}

table{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}
.text-center {
  text-align: center;
}

.container{
  width: 500px;
  margin: 30px auto;
}

.card{
  background: #F1EFE7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.img-circle{
  border-radius: 50%;
}

ul {
    list-style-type: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

ul.list-inline {
    padding: 0;
}


/* ************ my green button **************/

.see-btn:active{
  position:relative;
  top:6px;
}

.see-btn {
   -webkit-box-shadow: 0px 6px #27ae60 !important;
  -moz-box-shadow: 0px 6px #27ae60 !important;
  box-shadow: 0px 6px #27ae60 !important;
  background: #2ecc71 !important;
	height: 40px;
       line-height: 0.3rem;
}
.see-btn:active{
  -webkit-box-shadow: 0px 6px #23A33D !important;
  -moz-box-shadow: 0px 6px #23A33D !important;
  box-shadow: 0px 0px #23A33D !important;
  background: #23A33D !important;
}

.see-btn:hover {
	background: #31D777 !important;
	}

a.see-btn {
    padding: 10px;
    color: white;
}


/***************** Movies *********************/

#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}
#movies img{
  width: 120px;
}
#movies td{
  padding: 10px;
}

/********************** **************************/


.space-around {
  margin: 40px 0 40px 0;
}


/****************************** MEDIA QUERYS ***********************/

/* Responsive layout behavior */

/* @media (max-width: 768px) {
  #content{
    margin-left: 0px;
  }
  #sidebar {
    display: none;
  }
} */


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  #movies img{
    width: 80px;
  }
  .container {
    width: 300px;
  }
}
